<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">CS5429 : Distributed File Sharing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="mt-3 mb-3 ml-3 mr-3">

  <div class="alert alert-dismissible alert-success"
       *ngIf="fileDownloadStatusText!=undefined && fileDownloadStatus!=undefined && fileDownloadStatus==='OK'">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Well done!</strong> {{fileDownloadStatusText}}.
  </div>

  <div class="alert alert-dismissible alert-danger"
       *ngIf="fileDownloadStatusText!=undefined && fileDownloadStatus!=undefined && fileDownloadStatus==='BAD_REQUEST'">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Oh snap!</strong> {{fileDownloadStatusText}}.
  </div>

  <div class="row mb-5">
    <div class="component-area-1 col-md-6">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <h4 class="card-title">Current Node</h4>
          <h5 *ngIf="nodeDetails!=undefined && nodeDetails.ipAddress!=undefined && nodeDetails.port!=undefined"
              class="card-subtitle mb-2 text-muted">{{nodeDetails.ipAddress}}:{{nodeDetails.port}}</h5>
        </div>
      </div>
    </div>
    <div class="component-area-2 col-md-6">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <h4 class="card-title">Node User Details</h4>
          <h5 *ngIf="nodeDetails!=undefined && nodeDetails.userName!=undefined"
              class="card-subtitle mb-2 text-muted">{{nodeDetails.userName}}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="component-area-1 col-md-3">

      <div class="card border-success">
        <div class="card-body">
          <h4 class="card-title">Routing Table</h4>
          <div class="row">
            <div class="col-md-6">
              <h6 class="text-muted mt-2">Neighbour Nodes</h6>
            </div>
            <div class="col-md-4">
              <form>
                <button type="button" class="btn btn-primary mb-2 btn-sm" (click)="onRefreshInitiated()">Refresh
                </button>
              </form>
            </div>
          </div>
          <div>
            <ul class="list-group" *ngIf="routingTable!=undefined && routingTable!=undefined">
              <li *ngFor="let neighbour of routingTable"
                  class="list-group-item d-flex justify-content-between align-items-center">
                <span *ngIf="neighbour.address!=undefined" class="badge badge-danger">IP : {{neighbour.address}}</span>
                <span *ngIf="neighbour.port!=undefined" class="badge badge-warning">PORT : {{neighbour.port}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="component-area-2 col-md-3">

      <div class="card border-success">
        <div class="card-body">
          <h4 class="card-title">Current Node Files List</h4>
          <div>
            <ul class="list-group">
              <li *ngFor="let fileItem of fileNameList"
                  class="list-group-item d-flex justify-content-between align-items-center">
                <span class="badge badge-dark">{{fileItem}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="component-area-2 col-md-6">

      <div class="card border-success">
        <div class="card-body">
          <h4 class="card-title">Search Files</h4>

          <div class="row">
            <div class="col-md-6">
              <form [formGroup]="searchForm">
                <div class="form-group">

                  <input formControlName="fileName" type="text" class="form-control" id="fileName" name="fileName"
                         placeholder="Search File">
                </div>
              </form>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="onSearchFileInitiated()">Search
              </button>
            </div>
          </div>

          <h6 class="card-subtitle mb-2 text-muted">Search Result</h6>
          <div>
            <ul class="list-group">
              <li *ngFor="let searchResult of searchResults"
                  class="list-group-item d-flex justify-content-between align-items-center">
                <span class="badge badge-light">{{searchResult.fileName}}</span>
                <span class="badge badge-light">IP : {{searchResult.address}}</span>
                <span class="badge badge-light">PORT : {{searchResult.port}}</span>
                <span class="badge badge-light">HOP : {{searchResult.hops}}</span>
                <button type="button" class="btn btn-outline-success btn-sm"
                        (click)="onDownloadInitiated(searchResult)">Download
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
